body{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

p {
    max-width: 35rem;
}

input {
    border: 1px solid #8B8F94;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    height: 2rem;
    border-radius: .5rem;
    width: 15rem;
    padding-left: 1rem;
}

input:focus {
    border: 1px solid #0F52A2;
}

select {
    border: 1px solid #8B8F94;
    background: #fff;
    box-shadow: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    height: 2rem;
    border-radius: .5rem;
    /* width: 6rem; */
    padding-left: 1rem;
}

select:focus {
    border: 1px solid #0F52A2;
}

.hidden{
    display: none;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.data-font-l {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 4rem;
}

.heading-xl {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2rem;
    line-height: 2.5rem;
}

.heading-l {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.heading-m {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.125rem;
    line-height: 1.25rem;
}

.heading-s {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 700;
}

.body-l {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

.link-l {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #0F52A2;
}

.body-m {
    font-family: 'Roboto', sans-serif;
    font-size: .75rem;
    line-height: 1.25rem;
}

.primary-button {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding: .5rem 1rem;
    background: #0F52A2;
    color: #FFFFFF;
    border: none;
    border-radius: 1.25rem;
    cursor: pointer;
}

.primary-button:hover {
    background-color: #074085;
}


.secondary-button {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding: .5rem 1rem;
    color: #0F52A2;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #0F52A2;
    border-radius: 1.25rem;
    cursor: pointer;
}

.secondary-button:hover {
    background-color: #0F52A2;
    color: #fff;
}

.alternate-primary-button {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding: .5rem 1rem;
    color: #0F52A2;
    background: rgba(139, 143, 148, .32);
    border: none;
    border-radius: 1.25rem;
    cursor: pointer;
}

.alternate-primary-button:hover {
    color: #0F52A2;
    background: rgba(139, 143, 148, .32);
    border: 1px solid rgba(139, 143, 148, 0);
}

.alternate-primary-button:active {
    color: #fff;
    background: #0F52A2;
    border: 1px solid rgba(139, 143, 148, 0);
}

.mt-0 {
    margin-top: .5rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-0 {
    margin-bottom: .5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mr-0 {
    margin-right: .5rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mr-3 {
    margin-right: 3rem;
}

.ml-0 {
    margin-left: .5rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.slide-container {
    margin-bottom: 2.5rem;
    height: 100%;
    width: 100%;
}

.stickyfoot {
    height: 5rem;
    position: sticky;
    bottom: 0px;
    background: #fff;
    margin: 0;
}

.pagination {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.profile-picture{
    max-height: 200px;
    max-width: 100%;
    display: block;
}

button:focus{
    outline: #0F52A2 2px solid;
    outline-offset: 2px;
}

@media (min-width: 900px) {
    
    .columns {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    
    .column-1 {
        grid-column: 1 / 2;
        margin-right: 3rem;
    }
    
    .column-2 {
        grid-column: 2 / 3;
        margin-right: 3rem;
    }

}

@media (min-width: 1280px) {
    .columns {
        grid-template-columns: 568px 568px;
    }
    
    .pagination {
        left: 920px;
    }

    .column-1 {
        margin-right: 5rem;
    }
    
    .column-2 {
        margin-right: 5rem;
    }
}
